## Tuple

In [4]:
d1={1:2,('hi',45):['hi',54]}
d1

{1: 2, ('hi', 45): ['hi', 54]}

In [5]:
d1={1:2,('hi',45):['hi',54],['you']:44}

TypeError: unhashable type: 'list'

In [6]:
d={'Name':'Abdul','City':'Delhi','Age':30, 3:'hi'}
d

{'Name': 'Abdul', 'City': 'Delhi', 'Age': 30, 3: 'hi'}

In [7]:
d[3]='hello'
d

{'Name': 'Abdul', 'City': 'Delhi', 'Age': 30, 3: 'hello'}

In [8]:
d2={'Name':'Abdul','Name':'Harsh','City':'Delhi','State':'Delhi'}
d2

{'Name': 'Harsh', 'City': 'Delhi', 'State': 'Delhi'}

In [9]:
d3={'Name':['Abdul','Harsh'],'City':'Delhi','State':'Delhi'}
d3

{'Name': ['Abdul', 'Harsh'], 'City': 'Delhi', 'State': 'Delhi'}

In [10]:
sett={1,2,4,2,5,8,1,8,5,9,6}
sett       #ascending hashing used here by python

{1, 2, 4, 5, 6, 8, 9}

In [17]:
#type_casting
i=23
f1=float(i)
print(f1)
s=str(i)
print(s)
print(type(s))
f=82.56
int(f)

23.0
23
<class 'str'>

82

In [18]:
s2='89.63'
float(s2)

89.63

In [19]:
int(s2) #error here

ValueError: invalid literal for int() with base 10: '89.63'

In [20]:
int(float(s2))

89

In [21]:
list(s)

['2', '3']

In [24]:
l=list(s2)
l

['8', '9', '.', '6', '3']

In [23]:
tuple(s2)

('8', '9', '.', '6', '3')

In [25]:
str(l)

"['8', '9', '.', '6', '3']"

In [26]:
str(l[0])

'8'

In [27]:
str(l)[0]

'['

In [30]:
a=str(l) #not used
len(a)

25

In [33]:
 list(d)

['Name', 'City', 'Age', 3]

In [32]:
list(d.keys())

['Name', 'City', 'Age', 3]

In [34]:
list(d.values())

['Abdul', 'Delhi', 30, 'hello']

In [35]:
list(d.items())  #stored in tuples

[('Name', 'Abdul'), ('City', 'Delhi'), ('Age', 30), (3, 'hello')]

In [36]:
bool(0)

False

In [37]:
bool(None)

False

In [38]:
bool(none)  #error

NameError: name 'none' is not defined

In [39]:
bool(a)   #anything other than 0 or None gives true

True

In [40]:
bool('0')

True

In [41]:
# OPERATORS 
# arithmetic:   + - * / // ** %
# assignment:   =, +=, -=, /=, //=,**=, %=
# comparison:  < > <= >= == !=
# logical:    and, or, not
# bitwise:   |(bitwise OR), &(bitwise AND), ^(bitwise XOR)
#  * XOR- if both the i/p are diff then and only then o/p will be true, 
#         otherwise false
# identity:   is, is not
# membership:   in, not in
#  * used to check if a data vale is a member of a given sequence/collection
#    or not
#  * in case of lists strings tuples etc. this works to check if the member 
#    is  a part of the sequence/collection but in case of a dictionary only
#    keys can be checked to know if they are membes or not, since values 
#    are mapped by keys they cant be accessed using these operators.

In [43]:
x=7
y='hey'
x is 7

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\HP\AppData\Local\Temp\ipykernel_10448\3709046780.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  x is 7

True

In [45]:
y is 'hey'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\HP\AppData\Local\Temp\ipykernel_10448\1303708282.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  y is 'hey'

True

In [46]:
## conditional statements
if condition/booleanConstraint:
    task(s) that need to be done if condition evaluates to True
else:   #optional
    task(s) that need to be done if condition evaluates to False
(the space is called indentation represents block of code)

SyntaxError: invalid syntax (1463850040.py, line 3)

In [49]:
##Grading System
#NESTED IF STATEMENT
marks=int(input('Enter marks: '))

if marks > 90:
    print('Grade A')
else:
    if marks > 80 and marks <= 90:
        print('Grade B')
    else:
        if marks > 70 and marks <=80:
            print('Grade C')
        else:
            print('Failed')

Enter marks: 85
Grade B

In [ ]:
#same thing as above, works the same as well 
if marks > 90:
    print('Grade A')
elif marks > 80 and marks <= 90:
    print('Grade B')
elif marks > 70 and marks <=80:
    print('Grade C')
else:
    print('Failed')

In [ ]:
#LADDER IF STATEMENT
if marks > 90:
    print('Grade A')
if marks > 80 and marks <= 90:
    print('Grade B')
if marks > 70 and marks <=80:
    print('Grade C')

In [ ]:

marks= int(input('Enter marks: '))
if marks > 90:
    print('You get a cycle.')
else:
    print('You don''t get a cycle.')
    
#SHORTHAND NOTATION OR TERNARY OPERATOR
marks= int(input('Enter marks: '))
print('You get a cycle.') if (marks > 90) else print('You don''t get a cycle.')