# Loop Statements

#### *for loop    *while loop

In [1]:
#for loop: when number of reps is known
#while loop: when the condition is known on which rep is dependent on

In [ ]:
#Syntax of 'for' loop
for variable in sequence:
    task(s) that needs to be repeated
    
# range(start,end,step size)
#used to creat a squence of integers within given boundaries
#default start is 0. end of range is till end-1. default step size is 1.
#for reverse step or negative step size, lower limit is one more than given 
#in condition, upper limit is as given
#iteration: repetition

In [4]:
for i in range(1,6,1):
    print(i)
print('....')
for i in range(10,5,-1):
    print(i)

1
2
3
4
5
....
10
9
8
7
6

In [12]:
d={'Name':['Harsh','Rohan','Karan','Aarth'], 'City': ['Delhi', 'Orissa', 'Pune','Jamshedpur'],'Age':[30,28,31,26],'Occupation':'Data Scientist','Company': 'Microsoft'}
d

{'Name': ['Harsh', 'Rohan', 'Karan', 'Aarth'],
 'City': ['Delhi', 'Orissa', 'Pune', 'Jamshedpur'],
 'Age': [30, 28, 31, 26],
 'Occupation': 'Data Scientist',
 'Company': 'Microsoft'}

In [13]:
for x in d.keys():
    print (x)
for x in d.values():
    print (x)
for x in d.items(): #elements in tuples
    print (x)
for x,t in d.items():
    print(x)
    print(t)
    print(x,t)

Name
City
Age
Occupation
Company
['Harsh', 'Rohan', 'Karan', 'Aarth']
['Delhi', 'Orissa', 'Pune', 'Jamshedpur']
[30, 28, 31, 26]
Data Scientist
Microsoft
('Name', ['Harsh', 'Rohan', 'Karan', 'Aarth'])
('City', ['Delhi', 'Orissa', 'Pune', 'Jamshedpur'])
('Age', [30, 28, 31, 26])
('Occupation', 'Data Scientist')
('Company', 'Microsoft')
Name
['Harsh', 'Rohan', 'Karan', 'Aarth']
Name ['Harsh', 'Rohan', 'Karan', 'Aarth']
City
['Delhi', 'Orissa', 'Pune', 'Jamshedpur']
City ['Delhi', 'Orissa', 'Pune', 'Jamshedpur']
Age
[30, 28, 31, 26]
Age [30, 28, 31, 26]
Occupation
Data Scientist
Occupation Data Scientist
Company
Microsoft
Company Microsoft

In [ ]:
#Syntax of while loop
while (condition):
    task(s) that needs to be done
    increment/decrement/change statement

#Jump statements
-break   
-continue
-pass
*break and continue will work only with loop statements

### break
break will terminate the loop then and there as soon as it is executed.

### continue
continue will skip the remaining task(s) of current iteration and moves onto the next iteration.

In [ ]:
for condition:
    task
    break/continue
else:
    task

#else statement of loop will get executed only when ALL the iterations of 
#the loop run successfully. break might affect the else statement for a for
#loop but continue does not affect the else statement. else always works in 
#case of continue.
#same thing for while else.

### pass
placeholder when you don't know how to proceed with a part of code. skips the part of code for now.

In [ ]:
q1. Print all the even numbers from 1 to 10
q2. Print all the even numbers from m to n (from user)
q3. Print the squares of numbers from 1 to 10
q4. Print the squares of first 10 even numbers
q5. Print the squares of first 10 odd numbers
q6. Calculate the sum of first 10 numbers
q7. Calculate the percentage of n students in 5 subjects 
(max n=5, if limit is reached print complete, otherwise incomplete)
q8. Print a list in reverse order using loop.
q9. Print the multiplication table of n(input) in the given format: 
    num * i = product
    ...
    num * 10 = product

In [26]:
#q1 and q2
for i in range(2,11,2):
    print(i)
    
m=int(input('Enter lower boundary limit: '))
n=int(input('Enter upper boundary limit: '))
if (m%2==1):
    m=m+1
for i in range(m,n,2):
    print(i)

2
4
6
8
10
Enter lower boundary limit: 11
Enter upper boundary limit: 25
12
14
16
18
20
22
24

In [20]:
#q3
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [44]:
#q4
i=2
for a in range(10):
    print(i*i)
    i+=2

4
16
36
64
100
144
196
256
324
400

In [25]:
#q5
c=0
i=1
while(c<10):
    c+=1
    print(i*i)
    i+=2

1
9
25
49
81
121
169
225
289
361

In [27]:
#q6
sum=0
for i in range(1,11):
    sum=sum+i
print(sum)

55

In [35]:
#q8
n=int(input('Enter no. of elements in the list: '))
l=[]
for i in range(n):
    l.insert(i,input('Enter element: '))
for i in range(len(l)-1,-1,-1):
    print(l[i])

Enter no. of elements in the list: 4
Enter element: hi
Enter element: hey
Enter element: hello
Enter element: hola
hola
hello
hey
hi

In [ ]:
#q7
n=int(input('Enter number of students: '))
for i in range(1,n+1):
    M1=float(input('Enter mark of student '+str(i)+' in subject 1: '))
    M2=float(input('Enter mark of student '+str(i)+' in subject 2: '))
    M3=float(input('Enter mark of student '+str(i)+' in subject 3: '))
    M4=float(input('Enter mark of student '+str(i)+' in subject 4: '))
    M5=float(input('Enter mark of student '+str(i)+' in subject 5: '))
    print('Percentage marks of student '+str(i)+' is ',(M1+M2+M3+M4+M5)/5,' %')
    print('-------')
    if (i==5):
        print('Maximum students can be 5. Limit is complete.')
        break
    else:
        print(f'List incomplete. {n-i} students left.')

Enter number of students: 3
Enter mark of student 1 in subject 1: 60
Enter mark of student 1 in subject 2: 65
Enter mark of student 1 in subject 3: 70
Enter mark of student 1 in subject 4: 75
Enter mark of student 1 in subject 5: 80
Percentage marks of student 1 is  70.0  %
-------
List incomplete. 2 students left.

In [ ]:
#q9
num=int(input('Enter number: '))
for i in range(1,11):
    print(num,' * ',i,' = ',num*i)