## Operations on Sequence Data Types
(strings, lists, tuples, dictionary)

### OPERATIONS ON STRINGS

In [2]:
#Concatenation
s1='Hello'
s2="World"
s3=s1+s2
s4=s1+' '+s2
print(s3,s4)

#Repetition
s5=s1*3
print(s5)

HelloWorld Hello World
HelloHelloHello

In [ ]:
#Operator overloading means the same operators works in different manners
#for different types of input/data types.
1+2=3
'1'+'2'='12'

In [3]:
#Indexing
s1[3]

'l'

In [9]:
#Slicing
#Syntax: str[m:n:p] same as range function
#str[startIndex: endIndex: stepsize]
print(s4)
print(s4[2:9:2])
#Similarly these can also be done. values are taken by default.
print(s4[:7])
print(s4[:])
print(s4[3:])
print(s4[::2])
print(s4[7:2:-1])
print(s4[::-1])

Hello World
loWr
Hello W
Hello World
lo World
HloWrd
oW ol
dlroW olleH

### Methods on Strings

In [ ]:
#find method is used to find the index value of the first occurence of a 
#substring in the whole string, returns -1 if not found 
#syntax:  str.find(subStr, startIndex*=0(def) , endIndex*=len(str)(def)) 
#*optional

In [10]:
s4

'Hello World'

In [11]:
s4.find('e')

1

In [20]:
s4.find('orld')

7

In [21]:
s4.find('Word')

-1

In [13]:
s4.find('o')

4

In [14]:
s4.find('o',6)

7

In [19]:
s4.find('W',0)

6

In [ ]:
#index method is used to find the index value of the first occurence of a 
#substring in the whole string, returns error if not found.
#syntax:  str.index(subStr, startIndex*=0(def) , endIndex*=len(str)(def)) 
#*optional
#find and index are same only difference is what it  returns if not found

In [28]:
#replace method is used to replace a substring with a new string
#str2=str.replace(subStr, newStr)
#if count of replacements is not mentioned then all possible 
#substrings are replaced

In [32]:
ns=s4.replace('World','People')
print(ns)

Hello People

In [33]:
s4.replace('o','a')

'Hella Warld'

In [34]:
s4.replace('o','a',1)

'Hella World'

In [ ]:
#split method is used to split a string based on a separator and save the 
#o/p in a list 
#l=str.split(separator,noOfSpits*=allPossibleSplits)

In [37]:
l=s4.split('lo')
l

['Hel', ' World']

In [38]:
dob='19/09/2002'
dob.split('/')

['19', '09', '2002']

In [39]:
dob.split('/',1)

['19', '09/2002']

In [42]:
d1=dob.split('/')
d1

['19', '09', '2002']

In [43]:
d1[0]

'19'

In [44]:
d1[1]

'09'

In [45]:
d1[2]

'2002'

In [46]:
d,m,y=dob.split('/')  #this can be done when you know thw number of parts the strig is spit into

In [47]:
d

'19'

In [48]:
m

'09'

In [49]:
y

'2002'

In [ ]:
#count method is used to count the number of occurences of a substring
#in a range of a string
#syntax: str.count('substr', startIndex, endIndex)

In [50]:
s4.count('o')

2

In [51]:
s4.count('w')

0

In [53]:
s4.count('W',7)

0

In [54]:
s4.count('W',0,7)

1

In [ ]:
#Casing Methods in String
.upper() function is used to uppercase entire string
.lower() function is used to lowercase entire string
.title() function is used to uppercase first letter of every world
.capitalize() function is used to capitalize the first alphabet of every 
string only
.isupper() checks if all elements of string are in uppercase
.islower() checks if all elements of string are in lowercase
.istitle() checks if all first letters of every word in string are in
uppercase
.isapha() checks if every element is an alphabet or not
.isdigit() checks if every element is a digit
.isalnum() checks if element is either a digit or an alphabet or both

In [ ]:
#comparison of strings
- comparison on basis of ASCII values
max(str) gives element with highest ASCII value
min(str) gives element with lowest ASCII value
ord(str) gives ASCII value of string element

### String Formatting

In [ ]:
-using % operator
-using format method
-using f-string(formatted string)

In [55]:
x=5
y=3
print('Th sum of',x,'and',y, 'is', x+y,'.')

Th sum of 5 and 3 is 8 .

In [56]:
#1
#here % is creating an empty placeholder for the data. d means data will 
#be int type,f means float data type  
print('The sum of %d and %d is %d.'%(x,y,x+y))
#in case of float, to limit number of digit after decimal point we can 
#give the number we want. for eg: %.2f means 2 digits after dec point.

The sum of 5 and 3 is 8.

In [ ]:
#2
print('The sum of {} and {} is {}.'.format(x, y, x+y))
print('The sum of {a} and {b} is {c}.'.format(a=x, b=y, c=x+y)) 
#second one is by using keywords
#string formatting can be done directly as well, not just in print 
#statements 
d= 'The sum of {} and {} is {}.'.format(x, y, x+y)
print('The sum of {0} and {1} is {2}.'.format(x, y, x+y))
#this is index formatting. since values of x,y,x+y is saved in backend 
#and they can be accessed using their index values
print('The sum of {x} and {y} is {x+y}.')
#this simply prints the statement as it is in quotes, since formatting
#command is not given to python in any way here

In [ ]:
#3
print(f'The sum of {x} and {y} is {x+y}.')
#this is again placeholding technique called f-string method; 
#shortest and easiest.

In [57]:
print('The sum of %d and %d is %d.'%(6.5,y,6.5+y))  
#in case you need ans in int format no matter the data types of inputs

The sum of 6 and 3 is 9.

In [58]:
print(f'The sum of {6.5} and {y} is {6.5+y}.')
#this gives ans in data type as it is acc to type of inputs

The sum of 6.5 and 3 is 9.5.

### Operations on List

In [ ]:
#time: 1:47:27

In [59]:
l1=[2,4,6]
l2=[3,5,7,8]

In [60]:
#Concatenation
l3=l1+l2
l3

[2, 4, 6, 3, 5, 7, 8]

In [63]:
#Repetition
l1 * 5

[2, 4, 6, 2, 4, 6, 2, 4, 6, 2, 4, 6, 2, 4, 6]

In [64]:
#Indexing
l1[2]

6

In [65]:
l1[::-1]   #Reverse Slicing

[6, 4, 2]

In [80]:
l1=[2,4,6]

In [66]:
l3[::-2]

[8, 5, 6, 2]

In [81]:
l1.append('hi')  #append method is used to add a new 
#element to the end of a list
#syntax: list.append(non/sequence data type)
l1

[2, 4, 6, 'hi']

In [82]:
#extend method is used to extend the current list by the 
#elements of the sequence.
#syntax: list.extend(sequence)
l1.extend('hi')  
#this is why the data type inside the bracket needs to be sequencial
l1

[2, 4, 6, 'hi', 'h', 'i']

In [92]:
l5=['hi','hey','hello']
l5
l2=[3,5,7,8]

In [93]:
l2.extend(l5)
l2

[3, 5, 7, 8, 'hi', 'hey', 'hello']

In [94]:
l2.append(l5) #adds list on a whole as an element
l2

[3, 5, 7, 8, 'hi', 'hey', 'hello', ['hi', 'hey', 'hello']]

In [95]:
#insert method is uded to insert a particular element at a 
#particular index in the list
#syntax: list.insert(index,element)
l2.insert(5,'yes')
l2

[3, 5, 7, 8, 'hi', 'yes', 'hey', 'hello', ['hi', 'hey', 'hello']]

In [96]:
l2.insert(50,'yes') #worked as append since list length was less than 50
l2

[3, 5, 7, 8, 'hi', 'yes', 'hey', 'hello', ['hi', 'hey', 'hello'], 'yes']

In [97]:
#similarly
l2.insert(len(l2),'yes')

In [98]:
l2

[3, 5, 7, 8, 'hi', 'yes', 'hey', 'hello', ['hi', 'hey', 'hello'], 'yes', 'yes']

In [99]:
l2.insert(-1,'last')   #inderted in (-1)-1=-2 position
l2

[3,
 5,
 7,
 8,
 'hi',
 'yes',
 'hey',
 'hello',
 ['hi', 'hey', 'hello'],
 'yes',
 'last',
 'yes']

In [ ]:
#pop method
#syntax: list.pop(default index=-1)

In [100]:
l2.pop()  #popped out

'yes'

In [101]:
l2  #removed from list

[3,
 5,
 7,
 8,
 'hi',
 'yes',
 'hey',
 'hello',
 ['hi', 'hey', 'hello'],
 'yes',
 'last']

In [102]:
e=l2.pop(3)

In [103]:
e

8

In [108]:
l2

[3, 7, 'hi', 'yes', 'hello', ['hi', 'hey', 'hello'], 'yes', 'last']

In [105]:
#remove method
#syntax: list.remove(element)
l2.remove('hey')
l2

[3, 5, 7, 'hi', 'yes', 'hello', ['hi', 'hey', 'hello'], 'yes', 'last']

In [109]:
l2.remove('hello')
l2

[3, 7, 'hi', 'yes', ['hi', 'hey', 'hello'], 'yes', 'last']

In [107]:
l2

[3, 7, 'hi', 'yes', 'hello', ['hi', 'hey', 'hello'], 'yes', 'last']

In [174]:
l6=[3,5,7,4,2,5,7,6,5,7]

In [171]:
#see error in this code.
for i in range(len(l6)):
    print(i)
    print('.',l6[i])
    if(l6[i]==5):
        l6.remove(l6[i])
print(l6)

0
. 3
1
. 5
2
. 4
3
. 2
4
. 5
5
. 6
6
. 5
7

IndexError: list index out of range

In [178]:
l6=[3,5,7,4,2,5,7,6,5,7]

In [177]:
#instead what we can do:
#correct logic but more time-consuming.
for i in l6:
    if i==5:
        l6.remove(i)
print(l6)

[3, 7, 4, 2, 7, 6, 7]

In [179]:
#or: 
#this way loop runs only the necessary amt of times.
for i in range(l6.count(7)):
    l6.remove(7)
print(l6)

[3, 5, 4, 2, 5, 6, 5]

In [154]:
l6.remove(5)   #will only remove first occurrence of element from list

In [155]:
l6

[3, 7, 4, 2, 5, 7, 6, 5, 7]

In [113]:
w = 'something'

In [114]:
del(w)

In [115]:
print(w)

NameError: name 'w' is not defined

In [116]:
del(l6[3])

In [117]:
l6

[3, 7, 4, 5, 7, 6, 5, 7]

In [118]:
l6.clear()  #empties the whole list
l6

[]

In [119]:
l6=[3,5,7,4,2,5,7,6,5,7]

In [120]:
l6.index(5)

1

In [121]:
l6.count(5)  #counts the no. of times element is present in list

3

In [122]:
l6.count('.')

0

In [ ]:
#list.(press tab to see all options)

In [123]:
l1

[2, 4, 6, 'hi', 'h', 'i']

In [124]:
l2

[3, 7, 'hi', 'yes', ['hi', 'hey', 'hello'], 'yes', 'last']

In [126]:
l3=l1
l3

[2, 4, 6, 'hi', 'h', 'i']

In [127]:
l3.append(10)
l3

[2, 4, 6, 'hi', 'h', 'i', 10]

In [128]:
l1 
#even tho l1 was not appended to add the element at the end of the list,
#it still happended. This is because when l3=l1 was executed python only
#created a mem loc for variable l3 connecting it to the list elements of l1
#through a pointer. when l3 was appended the elements were appended and so 
#l1 was also changed in the similar fashion.

[2, 4, 6, 'hi', 'h', 'i', 10]

In [130]:
l7=l1.copy()
l7

[2, 4, 6, 'hi', 'h', 'i', 10]

In [131]:
l7.append('yes')

In [133]:
l7

[2, 4, 6, 'hi', 'h', 'i', 10, 'yes']

In [134]:
l1  
#remained the same bcoz a sep mem loc was created as in the list was COPIED

[2, 4, 6, 'hi', 'h', 'i', 10]

In [135]:
l6=[3,5,7,4,2,5,7,6,5,7]
l6

[3, 5, 7, 4, 2, 5, 7, 6, 5, 7]

In [138]:
l6.reverse()    #same as l6[::-1], only this is a way of accessing list in
#reverse but the index remains same for the list elements, if we use 
#.reverse the list is reversed and the index of elements also changes 
#accordingly.
l6

[7, 5, 6, 7, 5, 2, 4, 7, 5, 3]

In [140]:
l6.sort()  
#for sort, all elements of list should be of same data type
l6

[2, 3, 4, 5, 5, 5, 6, 7, 7, 7]

In [142]:
l1

[2, 4, 6, 'hi', 'h', 'i', 10]

In [141]:
l1.sort()  #error

TypeError: '<' not supported between instances of 'str' and 'int'

In [143]:
l6.sort(reverse=True)  
#reverse=True gives descending order sorting.
#reverse=False is default setting for ascending order sorting.
l6

[7, 7, 7, 6, 5, 5, 5, 4, 3, 2]

In [144]:
l6.sort?

### Operations on Tuple

In [147]:
#Concatenation
#Repetition
#Indexing
#Slicing
#all these work similarly for tuples
#examples:
t1=(1,2,'hi')
t2=(3,4,'you')
t3=t1+t2
print(t3)
print(t1*3)
print(t1[2])
print(t1[-2])
print(t2[0])
print(t3[1:4])
print(t3[2:])
print(t3[::-1])
print(t3[::2])

(1, 2, 'hi', 3, 4, 'you')
(1, 2, 'hi', 1, 2, 'hi', 1, 2, 'hi')
hi
2
3
(2, 'hi', 3)
('hi', 3, 4, 'you')
('you', 4, 3, 'hi', 2, 1)
(1, 'hi', 4)

In [151]:
#operations such as pop, sort, append, insert, etc are not possible on 
#tuple because it is immutable. 
#Only those operations are possible which don't modify the tuple.
#examples:
print(t3.index('hi'))
print(t3.count(2))
t4=(8,5,3,9,11,2)
print(max(t4)) 
print(min(t4))

2
1
11
2

### Operations on Dictionary

In [ ]:
#Concatenation, repetition, Indexing and slicing are not possible in 
#dictionary.

In [180]:
#Methods in dictionary
d={'Name':'Ashish', 'City': 'Delhi', 'Age': 30}
d

{'Name': 'Ashish', 'City': 'Delhi', 'Age': 30}

In [181]:
#Keying
d['Name']

'Ashish'

In [182]:
d['Ashish']  #this is bcoz values are mapped to keys but not vice-versa.

KeyError: 'Ashish'

In [187]:
#but doing this will give us output as None.
print(d.get('Ashish'))

None

In [183]:
d['City']='Pune' #keys cannot be changed tho

In [184]:
d

{'Name': 'Ashish', 'City': 'Pune', 'Age': 30}

In [188]:
d.update({'City':'Delhi',"Score": 90})

In [189]:
d

{'Name': 'Ashish', 'City': 'Delhi', 'Age': 30, 'Score': 90}

In [190]:
d.setdefault('City','Pune')  
#returned the current value instead of updating it

'Delhi'

In [191]:
d

{'Name': 'Ashish', 'City': 'Delhi', 'Age': 30, 'Score': 90}

In [192]:
d.setdefault('State','UP')   #can only be done for a single item

'UP'

In [193]:
d

{'Name': 'Ashish', 'City': 'Delhi', 'Age': 30, 'Score': 90, 'State': 'UP'}

In [194]:
d.pop('City')

'Delhi'

In [195]:
d

{'Name': 'Ashish', 'Age': 30, 'Score': 90, 'State': 'UP'}

In [196]:
del d['Age']
#diff b/w pop and del is tht pop returns whatever value you're popping, 
#but del doesn't. you can assign the popped out value to a variable but 
#not the deleted value.

In [197]:
d

{'Name': 'Ashish', 'Score': 90, 'State': 'UP'}

In [ ]:
#copy and clear methods work same for dictionary as it does for list

In [200]:
dk=d.keys()
dk

dict_keys(['Name', 'Score', 'State'])

In [201]:
dk[0] #list form but not indexes are not present.

TypeError: 'dict_keys' object is not subscriptable

In [202]:
ldk=list(d.keys())
ldk

['Name', 'Score', 'State']

In [203]:
list(d.values())

['Ashish', 90, 'UP']

In [204]:
list(d.items())   #key:value pairs in tuples

[('Name', 'Ashish'), ('Score', 90), ('State', 'UP')]

In [205]:
#max(d) and min(d) compare keys on basis of their ASCII values

In [207]:
l=[1,2,3]
k='hi'
d2=dict.fromkeys(l,k)
d2

{1: 'hi', 2: 'hi', 3: 'hi'}

In [208]:
#Syntax: dictionary.popitem removes the last inserted item from the dictionary.
d2.popitem()

(3, 'hi')

In [209]:
d2

{1: 'hi', 2: 'hi'}