### Methods on SET

In [7]:
s={1,3,5,7,9}
#set as a whole is mutable but elements individually are not.

In [8]:
s.add(11)

In [9]:
s

{1, 3, 5, 7, 9, 11}

In [10]:
s.add(2)

In [11]:
s

{1, 2, 3, 5, 7, 9, 11}

In [12]:
s.add('hi')

In [13]:
s

{1, 11, 2, 3, 5, 7, 9, 'hi'}

In [14]:
#in case of integers, when you add an element to the set, set will add it 
#in ascending order(since that is python's defalt)
#note the difference when set was transformed from all integers to now 
#integers and a string. 
#Now set is ordered on the basis of ASCII values.

In [15]:
s.remove(5)    #s.discard(element) works same but diff o/p.
#only 1 element can be removed from set at a time.

In [16]:
s

{1, 11, 2, 3, 7, 9, 'hi'}

In [17]:
s.remove(10)   #throws error.

KeyError: 10

In [ ]:
print(s.remove(10))     #error

In [ ]:
s.discard(10)  #no error

In [ ]:
print(s.discard(10))  #output is None. no error

In [ ]:
s.pop()  
#deletes some arbitrary element, could be the first, last or random.

In [ ]:
s

In [ ]:
#pop throws a KeyError if set is empty. for that to not happen:
if len(s) !=0:
    s.pop()

In [ ]:
s1=s.copy()
s1

In [ ]:
s1.clear()

In [ ]:
s1

In [ ]:
s

In [ ]:
#to create an empty set:
s2=set()
#s2={}   this creates a dictionary.

In [ ]:
st=''=str()
l1=[]=list()
t=()=tuple()
dic={}=dict()
se=set()

In [ ]:
r={1,2,3,4,15}
r

### Operations on Sets

In [ ]:
#Concatenation, Repetition, Indexing and Slicing don't happen in sets.

In [23]:
sur= s|r  #union operator | is same as bitwise OR. (operation overloading)
sur

{1, 11, 15, 2, 3, 4, 7, 9, 'hi'}

In [22]:
sir= s & r   #intersection operator & is same as bitwise AND
sir

{1, 2, 3}

In [19]:
sr= s - r    #difference: set s minus elements of set r common with set s.
sr
#intersection: s-r = s- (s&r)

{11, 7, 9, 'hi'}

In [18]:
rs= r - s
rs

{4, 15}

In [20]:
s.union(r)   #same as s|r

{1, 11, 15, 2, 3, 4, 7, 9, 'hi'}

In [21]:
s.intersection(r)   #same as s&r

{1, 2, 3}

In [24]:
s.difference(r)  # same as s-r

{11, 7, 9, 'hi'}

In [25]:
r.difference(s)

{4, 15}

## List Comprehension in Python

In [ ]:
#List comprehension offers a shorter syntax when you want to create a new 
#list based on the values of an existing list/sequence.

In [28]:
r

{1, 2, 3, 4, 15}

In [31]:
l=[]
for x in r:
    l.append(x**2)
l

[1, 4, 9, 16, 225]

In [30]:
#using list comprehension
l=[x**2 for x in r]
l

[1, 4, 9, 16, 225]

In [34]:
sur.remove('hi')

In [35]:
l1=[x**2 for x in sur]
l1

[1, 4, 9, 16, 49, 81, 121, 225]

In [37]:
sur

{1, 2, 3, 4, 7, 9, 11, 15}

In [38]:
l2=[]
for x in sur:
    if x % 2 != 0:
        l2.append(x**2)
l2

[1, 9, 49, 81, 121, 225]

In [43]:
#IMPORTANT: without else, if canot come in between, has to be in the end.
l2=[x**2 for x in sur if x % 2 != 0]
l2

[1, 9, 49, 81, 121, 225]

In [45]:
#IMPORTANT: if and else in between and for in the end.
l3=[x**2 if x % 2 != 0 else x for x in sur ]
l3

[1, 2, 9, 4, 49, 81, 121, 225]

### Nested List Comprehension

In [47]:
m=[]
for x in range(3):
    m.append([])
    for y in range(5):
        m[x].append(y)
m

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [48]:
m=[]
for x in range(3):
    m.append([])
    for y in range(5):
        m[x].append(x+y)
m

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6]]

In [50]:
m=[]
for x in range(3):
    m.append([])
    for y in range(5):
        m[x].append(2*x+y)
m

[[0, 1, 2, 3, 4], [2, 3, 4, 5, 6], [4, 5, 6, 7, 8]]

In [53]:
m=[[2*x+y for y in range(5)] for x in range(3)]
m

[[0, 1, 2, 3, 4], [2, 3, 4, 5, 6], [4, 5, 6, 7, 8]]

In [ ]:
#Garbage collection in python: automatic freeing of memory 
#space to reclaim blocks of memory.
#can be done manually by using del function.

In [ ]:
#Time Space Tradeoff - DSA (Data Structures and Algorithms)

## Functions

In [ ]:
It is a block/set of instructions that are organised and resuable in a code. 
Types:
    -Inbuilt
    -User defined
        ->def
        ->lambda

In [55]:
marks= int(input('Enter marks: '))
if marks> 40:
    print('Pass')
else:
    print('Fail')

Enter marks: 54
Pass

In [ ]:
for i in range(n):
    marks= int(input('Enter marks: '))
if marks> 40:
    print('Pass')
else:
    print('Fail')

#With help of a loop, this block of code runs continuously for n times.
#but if we need to do this task n times but not at once, in irregular 
#periods then we use a function.

In [59]:
def PassFail():   #function definition
    marks= int(input('Enter marks: '))
    if marks> 40:
        print('Pass')
    else:
        print('Fail')
    
print('Hello')
PassFail()
print('Done')

Hello
Enter marks: 56
Pass
Done

In [ ]:
#functions make code MODULAR: sets of modules which have particular 
#use or instructions.

In [ ]:
#Namespace: A namespace is a declarative region that provides a scope to
#identifiers(namesof functions, variables or other user-defined data types).
#A namespace is a memory space where variables andother identifiers 
#are stored.
-Global
-Local

In [1]:
#scope:
#Scope of a variable/identifier is its lifetime in the program. This means
#that the scope of a variable is the block of code in the entire program 
#where the variable is declared, used, and can be modified.
#It is the limit of identifiers, area of influence or accessibility
def PassFail():   #function definition
    marks= int(input('Enter marks: '))
    if marks> 40:
        print('Pass')
    else:
        print('Fail')
    
print('Hello')
PassFail()
print(marks)   #throws error
#variable marks is outside the scopee of the main/global field. It cannot
#be accessed outside the function.
#also after function is executed and flow of control moves back to te=he main
#field, python flushes out all the memory allocated to it. this is garbage 
#collection. Hence youcannot call the local variables or identifiers outside
#the local namespace.
#global identifiers/namespace can be used in the local namespace as well.
#They can be used anywheree in the code.

Hello
Enter marks: 77
Pass

NameError: name 'marks' is not defined

In [ ]:
#return statement:
-used to terminate a function
-used to transfer/pass a value from the function scope to the calling scope

In [2]:
def add():
    x=9
    y=6
    z=x+y
    print('sum:', z)
    return z
def avg():
    s=add()
    avg=s/2
    print('Average:',avg)
avg()

sum: 15
Average: 7.5

In [3]:
def add():
    x=9
    y=6
    z=x+y
    print('sum:', z)
    print('Hello')
add()

sum: 15
Hello

In [4]:
def add():
    x=9
    y=6
    z=x+y
    print('sum:', z)
    return   #similar to break, it terminates the function here even tho it returns nothing.
    print('Hello')
add()

sum: 15

In [5]:
def add():
    x=9
    y=6
    z=x+y
    print('sum:', z)
    return   #similar to break, it terminates the function here even tho it returns nothing.
    print('Hello')
print(add())   #since function returns nothing, output is None.

sum: 15
None

In [ ]:
def add():
    x=9
    y=6
    z=x+y
    print('sum:', z)
    print('Hello')
    #even wihout return, function will terminate here on its own.
add()

#### Function Arguments

In [6]:
#A parameter is the variable listed inside the parenthesis in the function 
#definition. An argument is the value that is sent to the function definition
#when it is called.
#they are used to pass the data from calling scope to the function scope.
def add(x,y):
    z=x+y
    print('sum:', z)
    return z
def avg():
    s=add(int(input()),int(input()))
    avg=s/2
    print('Average:',avg)
avg()

#no. of arguments= no. of parameters
#function call is always dependent on function definition.

6
9
sum: 15
Average: 7.5

In [ ]:
Global keyword:
it is used to create a global variable locally.
-done by using keyword global

In [7]:
def example():
    global q
    q=9
    print('In',q)
    return
example()
print('Out',q)

In 9
Out 9

In [9]:
def example():
    j+=2   #this does not work. WHY? since there is no assignment locally.
    print('In',j)
    return
j=12
example()
print('Out',j)
#even tho global variable is accessible everywhere in the program, if we 
#try to modify it in a local namespace or perform operations on it, it will
#throw error.

UnboundLocalError: cannot access local variable 'j' where it is not associated with a value

In [10]:
def example():
    global j
    j+=2   #works now. 
    print('In',j)
    return
j=12
example()
print('Out',j)

In 14
Out 14

### Types of Arguments

In [ ]:
-Required Positional Argument
-Keyword Argument
-Default Argment
-Variable Length Argument:
    -Non-keyworded
    -Keyworded

In [11]:
#REQUIRED POSITIONAL ARGUMENT
- The number of arguments is equal to number of parameters
- The data is passed according to the positional order.

In [12]:
def exp1(a,b):
    print('a: ', a)
    print('b: ', b)
    return
x,y=2,7
exp1(x,y)

a:  2
b:  7

In [ ]:
#KEYBOARD ARGUMENT
- The number if arguments is equal to the nmber of parameters.
- The data is passed according to the mentioned keyword.

In [14]:
def exp2(a,b):
    print('a: ', a)
    print('b: ', b)
    return
x,y=2,'hey'
exp2(a=y,b=y)
exp2(b=y,a=x)   
#here 'a' and 'b' act as keyword parameters. sequence also
#does not matter.

a:  hey
b:  hey
a:  2
b:  hey

In [ ]:
#DEFAULT ARGUMENT
- The number of arguments is less than equal to number of parameters.
- The parameter will assume the default value if corresponding argument is
  not passed.

In [17]:
def exp3(a,b=40):
    print('a: ', a)
    print('b: ', b)
    return
x,y=2,7
exp3(x)     #default is assumed when no arg is passed
exp3(x,y)   #will overwrite the value if arg is passed
exp3(a=5)

a:  2
b:  40
a:  2
b:  7
a:  5
b:  40

In [ ]:
#VARIABLE LENGTH ARGUMENT
- allows a function to receive any numbe of arguments.
- NON_KEYWORDED:

In [24]:
def exp4(a,*b):    # * before a parameter will make it a variable tuple
    print('a: ', a)
    print('b: ', b)
    return
x,y=2,7
exp4(x) 
exp4(x,y,9,'hey')
exp4(x,y)

a:  2
b:  ()
a:  2
b:  (7, 9, 'hey')
a:  2
b:  (7,)

In [27]:
#THERE CAN ONLY BE ONE VARIABE TUPLE.
def exp4(*a,b):    # * before a parameter will make it a variable tuple
    print('a: ', a)
    print('b: ', b)
    return
x,y=2,7
exp4(x,y,'hi',10,b='you') 
#if varaiable tuple is not the last parameter, keyword assigning will 
#have to be done for all the other arguments after variable tuple. or else
#tuple will take all parameters and the rest won't gwt any args. hence, error.

a:  (2, 7, 'hi', 10)
b:  you

In [28]:
#EXAMPLE
def class_average(*marks):
    s=sum(marks)
    av=s/len(marks)
    print('Average:  ', av)
    return

In [29]:
class_average(50,48,42,44)

Average:   46.0

In [30]:
class_average(42,44)

Average:   43.0

In [ ]:
-KEYWORDED VARIABLE LENGTH ARGUMENT:

In [40]:
def exp5(**b):    # ** before a parameter will make it a variable dictionary
    print('b: ', b)
    return
x,y=2,7
exp5(name=x, age=y) 
#what we enter here are taken as keys to the dictionary. they have same rules
#as variable or identifier naming. can't be numerals.

b:  {'name': 2, 'age': 7}

In [36]:
def exp5(*a,c=90,**b):    #both can be done together.
    print('a: ', a)
    print('b: ', b)
    print(c)
    return
x,y=2,22
exp5(x,'hi',name='Snehal', age=y) 
#varaiable dict should be the last parameter, keyword assigning will 
#have to be done for all the other arguments before variable dict. or else
#it will take all parameters and the rest won't get any args. hence, error.

a:  (2, 'hi')
b:  {'name': 'Snehal', 'age': 22}
90